@import "../../styles/colors";

.Menu {
  transition: height 100ms;
  z-index: 100;
  background-color: transparent;
  margin-left: auto;
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    display: none;
  }

  &.open {
    @media screen and (max-width: 768px) {
      display: flex;
      position: absolute;
      top: 70px;
      width: calc(100vw - 30px);
      background-color: rgba(#000000, 0.5);
    }
  }

  .items {
    margin: 20px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.MenuHidden {
  display: none;
}
